<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp_01.file.service.mapper.UserFileMapper">

    <delete id="deleteFile">
        with recursive tree as (select id
                                from user_file
                                where id = #{id} and user_id = #{userId} and deleted = 0
                                union all
                                select t1.id
                                from user_file t1
                                         inner join tree t2 on t1.parent_id = t2.id where t1.user_id = #{userId} and t1.deleted = 0
        )
        update user_file set deleted = #{timeStamp} where id in (select id from tree);
    </delete>
    <select id="listFileIdByParentId" resultType="java.lang.Long">
        with recursive tree as (select id, file_type, file_id
                                from user_file
                                where id = #{id} and user_id = #{userId} and deleted = 0
                                union all
                                select t1.id, t1.file_type, t1.file_id
                                from user_file t1
                                         inner join tree t2 on t1.parent_id = t2.id where t1.user_id = #{userId} and t1.deleted = 0
        )
        select file_id from tree where file_type != 0;
    </select>
    <select id="listFileByPage" resultType="com.gp_01.file.model.domain.po.UserFile">
        select *
        from user_file
        where parent_id = #{query.id}
        and user_id = #{userId}
        and deleted = 0
        order by IF(file_type = 0, 0, 1) ASC ,
        <choose>
            <when test="query.sortBy == 'fileSize'"> file_size</when>
            <when test="query.sortBy == 'fileName'"> file_name</when>
            <when test="query.sortBy == 'updateTime'"> update_time</when>
            <otherwise>create_time</otherwise>
        </choose>
        <choose>
            <when test="query.isAsc"> ASC</when>
            <otherwise> DESC</otherwise>
        </choose>
    </select>
    <select id="existsSameFileName" resultType="java.lang.Integer">
        select count(*)
        from user_file
        where user_id = #{userId}
          and parent_id = #{targetId}
          and file_name = (select uf.file_name from user_file uf where id = #{id});
    </select>


</mapper>
