<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gp_01.file.service.mapper.UserFileMapper">

    <select id="listFileByPage" resultType="com.gp_01.file.model.domain.po.UserFile">
        select *
        from user_file
        where parent_id = #{query.id}
        and user_id = #{userId}
        and deleted = 0
        order by IF(file_type = 0, 0, 1) ASC ,
        <choose>
            <when test="query.sortBy == 'fileSize'"> file_size</when>
            <when test="query.sortBy == 'fileName'"> file_name</when>
            <when test="query.sortBy == 'updateTime'"> update_time</when>
            <otherwise>create_time</otherwise>
        </choose>
        <choose>
            <when test="query.isAsc"> ASC</when>
            <otherwise> DESC</otherwise>
        </choose>
    </select>


    <select id="existsSameFileName" resultType="java.lang.Integer">
        select count(*)
        from user_file
        where user_id = #{userId}
          and parent_id = #{targetId}
          and file_name = (select uf.file_name from user_file uf where id = #{id});
    </select>


    <select id="listByDirIds" resultType="com.gp_01.file.model.domain.po.UserFile">
        with recursive tree as (select t1.id, t1.media_category, t1.object_id
                                from user_file t1
                                where id in
                                <foreach collection="dirIds" item="id" open="(" separator="," close=")">
                                    #{id}
                                </foreach>
                                union all
                                select t2.id, t2.media_category, t2.object_id
                                from tree t1
                                         inner join user_file t2 on t1.id = t2.parent_id
#                                 where t2.media_category != 0
        )
        select object_id, id, media_category
        from tree where media_category not in (-1);
    </select>


</mapper>
